body{
    background:#b1b1b1 ;
    color: black;
    font-family: cursive;
  }
.ad{
    width: 100%;
    background: grey;
    color: white;
    text-align: center;
  }
.Header{
    width: 100%;
    height: 40px ;
    padding: 10px;
    position: relative;
  }
.Navbtn{
    float: left;
    padding-left: 5%;   
    font-size:30px ;
    border-radius: 7px;
  }
.Navbtn:hover{
    border: 2px solid black;
    }
.Login{
    float:right;
    padding-right: 5%;
  }
.Login button{
    background: darkorange;
    color: black;
    border: none;
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
  }
.Login button:hover{
    background: orange;  
  }
.Login button:focus{
    background: red;  
  }
    
    
.scont{
    background: url(A4.jpeg);
    background-size: cover;
    min-height: 100px;
    position: relative;
    color: white;
    padding: 20px;
  }
.scont h1{
    margin-bottom: -20px;
    }
.csearch{
    width: 80%;  
    background: white;
    padding: 30px;
    color: black;
    height: 120px;
  }
.sicon{
    background: orange;
    padding: 6px;
    border: none;
    color: black;
    text-align: center;
    font-size: 25px;
    border-radius: 5px;
  }
  .sinput{
    border:none;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: -4px;
    height: 37px;
    width: 70%;
    padding-left: 15px;
  }
    
.searchc{
    width: 70%;
    height: 30px;
    background: orange;
    color: black;
    border: none;
    }
    
.Newcoursestitle{
    display:flex;
    align-items:center;
    justify-content:space-between;
    margin:20px;
    }   
.Newcoursestitle a{
    color:grey;
    }
.Newcourses{
    padding: 10px;
    background: white;
    width: 50%;
    height:auto;
    }
.Newcoursestext{
    text-align: left;
    padding: 0px 20px;
    font-weight: lighter;
}
.Newcourses h2, .bold{
    font-weight: bold;
}
